@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Container for forms */
form {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
}

/* Input styles */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styles */
button {
  width: 50%;
  padding: 8px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Header styles */
h1 {
  text-align: center;
  color: #333;
  font-size: larger;
  margin-bottom: 1rem;
  font-weight: bold;
}
.no-account {
  margin-top: 10px;
  font-size: 1rem; 
  color: #555; 
}

.link-button {
  background: none; 
  border: none; 
  color: #007bff; 
  cursor: pointer; 
  text-decoration: underline;
}

.link-button:hover {
  text-decoration: none;
}

/* Home Component Styles */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #e8f0fe, #d0e1fe); 
  text-align: center; 
  padding: 2rem; 
  margin-top: 90px;
}

.home-container h2 {
  font-size: 2.5rem; 
  color: #333; 
  margin-bottom: 1rem; 
}

.home-container p {
  font-size: 1.2rem; 
  color: #555; 
  margin-bottom: 1.5rem; 
  line-height: 1.6; 
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%; 
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 15px;
  background-color: rgb(116, 68, 163);
  transition: background-color 0.3s ease, padding 0.3s ease; 
  z-index: 100;
  box-sizing: border-box; 
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.85); 
  padding: 10px; 
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: #ffcc00; 
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 5px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar-logo a {
  text-decoration: none;
  color: white;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.95);
  }
}


/* Explore Button Styling */
a[href="#explore"] {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffdd57;
  color: #1c1c2d;
  font-weight: bold;
  border-radius: 25px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  max-width: 200px;
  text-align: center;
  margin-top: 30px;
}

a[href="#explore"]:hover {
  background-color: #ffd700; 
  color: #24244e;
  transition: 0.3s;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px; 
  width: 50%;
  max-width: 100px;
}

.lottie-container > div {
  width: 100%;
  height: auto;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1rem;
  }

  .lottie-container .lottie-animation {
    max-width: 300px;
  }
}

/* Footer Styles */
.footer {
  background-color: #1a1a1a; 
  color: #f5f5f5; 
  padding: 20px 0; 
  text-align: center; 
  position: relative; 
  left: 0; 
  width: 100%; 
  margin-top: 100px;
}

.footer-links {
  margin-top: 10px; 
}

.footer-links a {
  color: #f5f5f5; 
  text-decoration: none; 
  margin: 0 10px; 
}

.footer-links a:hover {
  text-decoration: underline; 
}



